# Python_Assignment_4
## FSDS 2.0
 Submitted by Akshay Gaidhani

1. What exactly is [ ] ?

* - [ ] it is called square bracket/ Index brackets.
* - In python we use this empty list value, which is a list value that contains no items.

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)
Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [13]:
spam = [2, 4, 6, 8, 10]

spam[2]="hello"

print(spam)

[2, 4, 'hello', 8, 10]


3. What is the value of spam[int(int('3' * 2) / 11)]?

In [15]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

4. What is the value of spam[-1]?

In [17]:
spam = ['a', 'b', 'c', 'd']
spam[-1]

'd'

5. What is the value of spam[:2]?
Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [18]:
spam = ['a', 'b', 'c', 'd']
spam[:2]

['a', 'b']

6. What is the value of bacon.index('cat')?

In [25]:
bacon = [3.14, 'cat', 11, 'cat', True] 

bacon.index("cat") # mindex function only returns the first occurrence of the value.

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [29]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append(99) # append function adds an element at the end of the list
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [31]:
bacon.remove('cat')
print(bacon)

[3.14, 11, True, 99]

9. What are the list concatenation and list replication operators?

In [51]:
#list concatenation - " + " It appends one list at the end of the other list and results in a new list as output

l = [1,3,2,89,21,21]
m = [78,95,2,12,3,12]

print(f"This is result of list concatination: {l+m}")

# Replication operators - " * " Repeat each element in the list amount of times.

print(f"This is result of replication operator: {l*2}")

This is result of list concatination: [1, 3, 2, 89, 21, 21, 78, 95, 2, 12, 3, 12]
This is result of replication operator: [1, 3, 2, 89, 21, 21, 1, 3, 2, 89, 21, 21]

10. What is difference between the list methods append() and insert()?

In [47]:
#append() - This function adds an element at the end of the list
l = [1,3,2,89,21,21]
l.append("Hello")
print(f"This is result of append function: {l}")

#insert() - This function adds an specified value at the specified position of the list
l = [1,3,2,89,21,21]
l.insert(2,"Hello")
print(f"This is result of insert function: {l}")

This is result of append function: [1, 3, 2, 89, 21, 21, 'Hello']
This is result of insert function: [1, 3, 'Hello', 2, 89, 21, 21]

11. What are the two methods for removing items from a list?

In [52]:
m = [78,95,2,12,3,12]
m.pop() # .pop() - Removes last element of the list 
print(m)

m = [78,95,2,12,3,12]
m.remove(3) #.remove() - It removes the first occurence of specific element
print(m)

# .clear() -  it removes the all element in the list

[78, 95, 2, 12, 3]
[78, 95, 2, 12, 12]

12. Describe how list values and string values are identical.

* - lists and strings can be passed to len() 
* - have indexes and slices, be used in for loops
* - be concatenated or replicated 
* - be used with the in and not in operators

13. What's the difference between tuples and lists?

* - List are mutable but tupleas are immutable
* - list uses [ ] while the tupleas uses ( )

14. How do you type a tuple value that only contains the integer 42?

In [57]:
r = (42,)
print(type(r))
print(r)

<class 'tuple'>
(42,)

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [72]:
l = [1,3,2,89,21,21]
print(tuple(l)) # List to Tuple conversion 

t = (12,51,2125,"Akshay","Ram") 
list(t) # Tupe to List conversion

(1, 3, 2, 89, 21, 21)

[12, 51, 2125, 'Akshay', 'Ram']

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

* - They contain references to list values.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

* - The copy.copy() function will do a shallow copy of a list 
* - copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.

In [90]:
l1 = [1,3,2,89,21,21]
l2 = l1.copy()

In [91]:
l2[2]="Akshay"

print(l1,l2)

[1, 3, 2, 89, 21, 21] [1, 3, 'Akshay', 89, 21, 21]

In [86]:
l1 = [[1,3,2,89,21,21],[12,351,295]]
l2 = l1.copy()

l2[1][2]="Gaidhani "

In [87]:
l1,l2

([[1, 3, 2, 89, 21, 21], [12, 351, 'Gaidhani ']],
 [[1, 3, 2, 89, 21, 21], [12, 351, 'Gaidhani ']])

## Thank You 
## Happy Learning